@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/base";

// * Variable Maps
$colors: (
  shadow: #888,
);

$lightMode: (
  bg: #efefef,
  white: #fff,
);

$darkMode: (
  bg: #111,
  black: #000,
  333: #333,
  container: #444,
  888: #888,
);

// * Functions
@function map($map, $val) {
  @return map-get($map, $val);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #efefef;
  margin: 0;
}

// * background classes

body.bg-light {
  background: map($lightMode, bg);
}

body.bg-dark {
  background: map($darkMode, bg);
}

.modal-dark {
  background: #444 !important;
  color: white;
}

.inactive {
  border: 0 solid transparent;
  border-bottom: 5px solid transparent !important;
}
